<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./main.css">

  </head>
  <body class="template-bg-white">
    
    <div class="header">
      <div class="row">
        <div class="menu-wrapper">
          <ul class="nav">
            <li class="menu_item">
              <a href="javascript:;">
                <div class="singtel-logo"><img src="./singtel_logo_coloured.png" alt="logo"></div>
              </a>
            </li>
            <li class="menu_item"><a href="javascript:;" class="header-link inactive">Products & Services</a></li>
            <li class="menu_item"><a href="javascript:;" class="header-link inactive">My Account</a></li>
            <li class="menu_item"><a href="javascript:;" class="header-link inactive">Support</a></li>
            <li class="menu_item"><a href="javascript:;" class="header-link inactive">Promotions</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="main-content">

    </div>

    <div class="footer">
      FOOTER
    </div>
    
    
  </body>
</html>